<% include partials/header %>
<div class="jumbotron">
	<h1>Dr. PJs MakersBnB</h1>
	<p>Creepy houses for all your occasions!</p>
	<p><a class="btn btn-primary btn-lg" href="/rooms" id="viewrooms" role="button">View Rooms</a></p>
	<p><a class="btn btn-primary btn-lg" href="/signup" id="signup" role="button">Sign up</a></p>
	<p><a class="btn btn-primary btn-lg" href="/signin" id="signin" role="button">Sign In</a></p>
	</form>
</div>

<% include partials/footer %>
